{% extends "potion_craft/layout.html" %}
{% load static %}




{% block body %}


    <h2> Alquimia lab</h2>


    <div>
        <label for="id_ingredientes">Elige tus ingredientes:</label>
        <br>
        {{ form.ingredientes }}
        <br>

        <label for="id_preparacion">Elige tu método de preparación:</label>
        <br>
        {{ form.preparacion }}
        <br>

        <label for="id_subject">Descripción:</label>
        <br>
        {{ form.subject }}
        <br>

        <input type="submit" value="Crear poción">
    </div>

{% endblock %}