
{% extends "potion_craft/layout.html" %}
{% load static %}

<!----Recursos: 
    IMÁGENES Y SPRITES GRATIS: https://itch.io/search?q=potion+sprites
    HTML: https://getbootstrap.com/docs/5.3/getting-started/introduction/


-->

{% block body %}
    
    <span>Hola! 
        <br><span>Nombre de Usuario: {{ user_profile.user.username }}</span>
        <br><span>Nombre del perfil: {{ user_profile.nombre }}</span>
    </span>

    <div>
        <ul style=" list-style-type: none;">
            {% for efecto in potion_form %}
                <li class="listado">
                    <b>Esencias obtenidas:</b> {{ efecto }}
                </li>
            {% empty %}
            <li>No hay esencias en este momento</li>
            {% endfor %}
        </ul>
    </div>


    
    

    <div clas="cabecera">
        
    
        <img class ="dibujo" src="{% static 'potion_craft/img/portraits/Eric.png' %}">
       


{% endblock %}