{% extends "potion_craft/layout.html" %}
{% load static %}
{% block body %}

<h2>Inventario</h2>

<!--- ESTE FORMULARIO NO FUNCIONA, PARA QUE FUNCIONE HAY QUE APRENDER JAVASCRIPT -->
<h3>Listado de Perfiles de {{ usuario.nombre }}</h3>


<h3>Personaje: {{ personaje.nombre }} {{ personaje.id }}</h3>

<img src="{% static personaje.portrait %}" width=100px>

<div class="grid-inventario">
    <div class="grid-item-1" style="text-align: top;">
        
        {{ personaje.nombre }}
        {{ personaje.clase }}
        {{ personaje.user_profile }}
        
    </div>
    
    <div class="grid-item-2">
        
        <h3>Esencias</h3>
        {% for item in listado_esencias %}
            <li> <span class="cifra"> {{ item.cantidad }} </span>
                {{ item.esencia.nombre }}   
            </li>
        {% empty %}
            <p>Actualmente no hay</p>

        {% endfor %}

    </div>
    <div class="grid-item-3">
        <h3>Pociones</h3>
        {% for item in listado_pociones %}
            <li> <span class="cifra"> {{ item.cantidad }} </span>
                {{ item.potion.nombre }}   
            </li>
        {% empty %}
            <p>Actualmente no hay</p>

        {% endfor %}


    </div>
    <div>
        <h3>Ingredientes</h3>
        {% for item in listado_ingredientes %}
            <li> <span class="cifra"> {{ item.cantidad }} </span>
                {{ item.ingrediente.nombre }}   
            </li>
        {% empty %}
            <p>Actualmente no hay</p>

        {% endfor %}


    </div>
</div>


{% endblock %}