{% extends "potion_craft/layout.html" %}
{% load static %}
{% block body %}

<p class="alerta">{{ alerta }}</p>

<h3>Inventario de Personajes de {{ usuario.nombre }}</h3>
{% for personaje in listado_personajes %}
    <li> {{ personaje.nombre }} ->
        <a href="{% url 'potion_craft:inventario_detail' personaje.id %}"> Inventario de personaje </a>
    </li>
{% endfor %}


<h3>Personaje: {{ personaje.nombre }} {{ personaje.id }}</h3>

<div class="grid-inventario">
    <div class="grid-item-1" style="text-align: top;">
        
        {{ personaje.nombre }}
        {{ personaje.clase }}
        {{ personaje.user_profile }}
        
    </div>
    <div class="grid-item-2">
        <img src="{% static personaje.portrait %}" width=100px>
        Hueco para esencias: {{ esencia }}
    </div>
    <div class="grid-item-3">
        Hueco para pociones: {{ pocion }}
    </div>
    <div>
        Hueco para ingredientes : {{ ingrediente }}
    </div>
</div>


{% endblock %}

