{% extends "potion_craft/layout.html" %}
{% load static %}
{% block body %}



</form>
  
    <h3>Esta segunda lista usa el request.session</h3>

    <ul style=" list-style-type: none;">
        {% for ingr in ingredientes %}
            {% for key, value in ingr.items  %}
                <li class="listado">
                    <b>Ingrediente:</b> {{ key }}, <b>Valor:</b> {{ value }}
                </li>
            {% endfor %}

        {% empty %}
        <li>No hay ingredientes en este momento</li>
    {% endfor %}
    </ul>




    <h3> Potion Craft</h3>

    <form method="post">
        {% csrf_token %}
        <label for="id_esencias">Elige tu esencia:</label>
        
        <br>{{ form_potion.esencias }} <br>

        <label for="id_base">Elige tu base:</label>
        
        <br>{{ form_potion.base }}<br>
        
        <label for="id_potenciador">Elige un potenciador:</label>
        
        <br>{{ form_potion.potenciador }}<br>

        <label for="id_dado">El dado:</label>
        
        <br>{{ form_potion.dado }}<br>
       

        <input type="submit" value="Crear poción">
    </form>

{% endblock %}
